# Ignore build/output folders
/back-end/target/
/back-end/build/
/front-end/node_modules/

# Exclude source code from being ignored
!/back-end/src/main/java/
!/back-end/src/main/resources/
!/back-end/src/test/java/
!/back-end/src/test/resources/
!/front-end/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
*.iml
*.classpath
*.project
.settings/
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.metadata/

# Other
HELP.md
