server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    # These two lines stop the "Connection Refused" errors
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/